<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Answer</title>
</head>

<body>
  <div class="display" style="background: red;"></div><br>
  <form>
    <div class="number"></div>
    <h2 class="question"></h2><br>
    <label for="answer">Answer</label><br>
    <input type="text" id="answer"><br>
    <input type="submit" value="Answer"><br>
  </form>
  <button type="button" style="visibility: hidden;" id="new">Make another survey</button>
  <script src="../answer.js"></script>

</body>

</html>
