<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Survey name</title>
  </head>

<body>
  <form>
    <br>
    <div class="success">Name your new survey</div><br>
    <label for="survey-name">Survey Name</label><br>
    <input type="text" id="survey-name" required>
    <input type="submit" value="Next">
  </form>
  <button class="search">Find a survey to answer</button>
  <script src="../surveyName.js"></script>
</body>

</html>
